.c-navigation {
  &__list {
    font-family: $f-chivo-bold;
    letter-spacing: $ls-sm;
    line-height: $lh-btn;
    display: flex;
  }

  &__item {
    margin-right: 45px;

    @include media ('<800px') {
      margin-right: 0;
    }
  }
}