@font-face {
  font-family: 'chivo-regular';
  src: url('../fonts/chivo/Chivo-Regular.ttf');
}

@font-face {
  font-family: 'chivo-bold';
  src: url('../fonts/chivo/Chivo-Bold.ttf');
}

@font-face {
  font-family: 'asul-regular';
  src: url('../fonts/asul/Asul-Regular.ttf');
}

@font-face {
  font-family: 'asul-bold';
  src: url('../fonts/asul/Asul-Bold.ttf');
}