<!--          &lt;!&ndash;    about    &ndash;&gt;-->
<section class="c-about">
  <div class="c-about__wrapper">

    <!--      picture      -->
    <div class="c-about__img">
      <img src="./images/about.png" alt="girl-support">
    </div>

    <!--      info      -->
    <div class="c-about__info">

      <!--      suptitle        -->
      <p class="c-about__suptitle">
        WHO WE ARE
      </p>

      <!--      title        -->
      <h2 class="c-about__title">
        An independent consulting firm
      </h2>

      <!--      text info       -->
      <p class="c-about__text">
        Vestibulum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna,condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tate, tortor nec commodo ultricies, vitae viverra urna .
      </p>

      <!--      logo brands        -->
      <div class="c-about__firm-logo">
        <p class="c-about__firm">
          Trusted thounds <br> of diverse companies
        </p>
        <div class="c-about__logo">
          <a href="https://angrycreative.com/" target="_blank" rel="noreferrer" class="c-about__link"><i class="fa-brands fa-angrycreative"></i></a>
          <a href="https://firstdraft.org.au/" target="_blank" rel="noreferrer" class="c-about__link"><i class="fa-brands fa-firstdraft"></i></a>
          <a href="https://mailchimp.com/" target="_blank" rel="noreferrer" class="c-about__link"><i class="fa-brands fa-mailchimp"></i></a>
          <a href="https://www.meetup.com/ru-RU/" target="_blank" rel="noreferrer" class="c-about__link"><i class="fa-brands fa-meetup"></i></a>
        </div>
      </div>

    </div>

  </div>

</section>