<!--   banner   -->
<section class="c-banner">
    <div class="c-banner__wrapper container">

        <div class="c-banner__wrap">

            <!--    social link      -->
            <div class="c-banner__social-link">
                <a href="https://www.facebook.com/" class="c-banner__link" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=ru" class="c-banner__link" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/" class="c-banner__link" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>

            <!--    text banner      -->
            <div class="c-banner__home">

                <!--      title      -->
                <h1 class="c-banner__title">We are ready to assist our clients</h1>

                <!--      subtitle      -->
                <p class="c-banner__subtitle">Vestibulum imperdiet nibh vel magna lacinia
                    ultrices. Sed id interdum urna</p>

                <!--      btns     -->
                <div class="c-banner__buttons">
                    <a href="#" class="c-banner__btn c-banner__btn--daisy e-link ">Get Start</a>
                    <a href="#" class="c-banner__btn c-banner__btn--peppermint e-link">How it Work</a>
                </div>
            </div>



        </div>

        <!--    img bg      -->
        <div class="c-banner__img">
            <img src="./images/home-banner.png" alt="coder" class="c-banner__picture">
        </div>

    </div>
</section>