<!--    comment    -->
<section class="c-comment">

    <!--    circles      -->
    <div data-id="1" class="c-comment__circle c-comment__circle--1 active">
        <img src="./images/comment-your_image_here-1.png" alt="man">
    </div>
    <div data-id="2" class="c-comment__circle c-comment__circle--2">
        <img src="./images/comment-your_image_here-2.png" alt="woman">
    </div>
    <div data-id="3" class="c-comment__circle c-comment__circle--3">
        <img src="./images/comment-your_image_here-3.png" alt="woman">
    </div>
    <div data-id="4" class="c-comment__circle c-comment__circle--4">
        <img src="./images/comment-your_image_here-4.png" alt="woman">
    </div>
    <div data-id="5" class="c-comment__circle c-comment__circle--5">
        <img src="./images/comment-your_image_here-5.png" alt="man">
    </div>
    <div data-id="6" class="c-comment__circle c-comment__circle--6">
        <img src="./images/comment-your_image_here-6.png" alt="woman">
    </div>
    <div data-id="7" class="c-comment__circle c-comment__circle--7">
        <img src="./images/comment-your_image_here-7.png" alt="woman">
    </div>
    <div data-id="8" class="c-comment__circle c-comment__circle--8">
        <img src="./images/comment-your_image_here-8.png" alt="woman">
    </div>

    <div class="c-comment__wrapper">

        <div class="c-comment__item data-id-1 active">
            <!--      quote      -->
            <q class="c-comment__quote">
                Hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tate, tortor nec commodo ultricies vitae viverra urna.
            </q>
            <!--      author      -->
            <div class="c-comment__author">
                <a rel="author" target="_blank" href="https://www.linkedin.com/in/tiennd/?originalSubdomain=vn" class="c-comment__author--bold">Tony Nguyen</a>
                <span class="c-comment__author--gray"> - Ceo Moontheme</span>
            </div>
        </div>

        <div class="c-comment__item data-id-2">
            <!--      quote      -->
            <q class="c-comment__quote">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tate, tortor nec commodo ultricies vitae viverra urna.
            </q>
            <!--      author      -->
            <div class="c-comment__author">
                <a rel="author" target="_blank" href="https://www.linkedin.com/in/tiennd/?originalSubdomain=vn" class="c-comment__author--bold">Tony Nguye</a>
                <span class="c-comment__author--gray"> - Ceo Moontheme</span>
            </div>
        </div>

        <div class="c-comment__item data-id-3">
            <!--      quote      -->
            <q class="c-comment__quote">
                Sit amet, consectetur adipiscing elit. Aliquam tate, tortor nec commodo ultricies vitae viverra urna.
            </q>
            <!--      author      -->
            <div class="c-comment__author">
                <a rel="author" target="_blank" href="https://www.linkedin.com/in/tiennd/?originalSubdomain=vn" class="c-comment__author--bold">Tony Nguy</a>
                <span class="c-comment__author--gray"> - Ceo Moontheme</span>
            </div>
        </div>

        <div class="c-comment__item data-id-4">
            <!--      quote      -->
            <q class="c-comment__quote">
                Consectetur adipiscing elit. Aliquam tate, tortor nec commodo ultricies vitae viverra urna.
            </q>
            <!--      author      -->
            <div class="c-comment__author">
                <a rel="author" target="_blank" href="https://www.linkedin.com/in/tiennd/?originalSubdomain=vn" class="c-comment__author--bold">Tony Ngu</a>
                <span class="c-comment__author--gray"> - Ceo Moontheme</span>
            </div>
        </div>

        <div class="c-comment__item data-id-5">
            <!--      quote      -->
            <q class="c-comment__quote">
                Consectetur adipiscing elit. Hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tate, tortor nec commodo ultricies vitae viverra urna.
            </q>
            <!--      author      -->
            <div class="c-comment__author">
                <a rel="author" target="_blank" href="https://www.linkedin.com/in/tiennd/?originalSubdomain=vn" class="c-comment__author--bold">Tony YenNgu</a>
                <span class="c-comment__author--gray"> - Ceo Moontheme</span>
            </div>
        </div>

        <div class="c-comment__item data-id-6">
            <!--      quote      -->
            <q class="c-comment__quote">
                Loaosdodogoiscing elit. Aliquam tate, tortor nec commodo ultricies vitae viverra urna.
            </q>
            <!--      author      -->
            <div class="c-comment__author">
                <a rel="author" target="_blank" href="https://www.linkedin.com/in/tiennd/?originalSubdomain=vn" class="c-comment__author--bold">Tony uyeNgn</a>
                <span class="c-comment__author--gray"> - Ceo Moontheme</span>
            </div>
        </div>

        <div class="c-comment__item data-id-7">
            <!--      quote      -->
            <q class="c-comment__quote">
                loreegk kfkfi glo ing elit. Aliquam tate, tortor nec commodo ultricies vitae viverra urna.
            </q>
            <!--      author      -->
            <div class="c-comment__author">
                <a rel="author" target="_blank" href="https://www.linkedin.com/in/tiennd/?originalSubdomain=vn" class="c-comment__author--bold">Tony yeNgun</a>
                <span class="c-comment__author--gray"> - Ceo Moontheme</span>
            </div>
        </div>

        <div class="c-comment__item data-id-8">
            <!--      quote      -->
            <q class="c-comment__quote">
                Aliquam tate, tortor nec commodo ultricies vitae viverra urna. Hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </q>
            <!--      author      -->
            <div class="c-comment__author">
                <a rel="author" target="_blank" href="https://www.linkedin.com/in/tiennd/?originalSubdomain=vn" class="c-comment__author--bold">Toy Nguy</a>
                <span class="c-comment__author--gray"> - Ceo Moontheme</span>
            </div>
        </div>

        <!--      img      -->
        <div class="c-comment__img">
            <img src="./images/comment-sm_curve_drawing.png" alt="curve drawing">
        </div>

    </div>
</section>