<!--    featured-work    -->
<section class="c-featured-work" >
  <div class="c-featured-work__wrapper">

    <div class="c-featured-work__content">
      <p class="c-featured-work__suptitle">Featured Work</p>
      <h2 class="c-featured-work__title">The personal Finance App</h2>
      <p class="c-featured-work__text">
        Vestibulum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna condimentum a vehicula a, hendrerit ac nisi.
      </p>
      <a href="#" class="c-featured-work__btn e-link">View Project</a>
    </div>
    <div class="c-featured-work__img">
      <img src="./images/featured-work-searching.png" alt="search">
    </div>

  </div>
</section>