<!--    newsletter    -->
<section class="c-newsletter">
  <div class="c-newsletter__wrapper">

    <!--      title      -->
    <h2 class="c-newsletter__title">
      Get everything you need <span class="c-newsletter__title--red">to succeed!</span>
    </h2>
    <!--      subtitle      -->
    <p class="c-newsletter__subtitle">
      Join the newsletter and get 2 months free with full access.
    </p>
    <!--      form submit      -->
    <form action="" method="post" class="c-newsletter__form">
      <input type="email" name="mail" placeholder="Email address" id="input-mail" class="c-newsletter__input">
      <button type="submit" onclick="event.preventDefault()" class="c-newsletter__btn">Subscribe</button>
    </form>

  </div>
</section>