<!--    services    -->
<section class="c-services">

  <!--      circle        -->
  <div class="c-services__circle c-services__circle--1"></div>
  <div class="c-services__circle c-services__circle--2"></div>
  <div class="c-services__circle c-services__circle--3"></div>
  <div class="c-services__circle c-services__circle--4"></div>

  <div class="c-services__wrapper">

    <!--      description      -->
    <div class="c-services__description">

      <!--      block content        -->
      <div class="c-services-content">
        <div class="c-services-content__icon">
          <i class="fa-solid fa-chart-pie"></i>
        </div>
        <div class="c-services-content__article">
          <p class="c-services-content__title">Business Strategy</p>
          <p class="c-services-content__text">Imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. </p>
        </div>
      </div>

      <!--      block content        -->
      <div class="c-services-content c-services-content--position">
        <div class="c-services-content__icon c-services-content__icon--albescent">
          <i class="fa-solid fa-dice"></i>
        </div>
        <div class="c-services-content__article">
          <p class="c-services-content__title">Business Strategy</p>
          <p class="c-services-content__text">Imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. </p>
        </div>
      </div>

      <!--      block content        -->
      <div class="c-services-content">
        <div class="c-services-content__icon c-services-content__icon--blue-chalk">
          <i class="fa-solid fa-rocket"></i>
        </div>
        <div class="c-services-content__article">
          <p class="c-services-content__title">Business Strategy</p>
          <p class="c-services-content__text">Imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. </p>
        </div>
      </div>

    </div>

    <!--      curve-drawing      -->
    <div class="c-services__curve-drawing">
      <img src="./images/services_curve_drawing.png" alt="curve drawing" class="c-services__curve-drawing--vertical">
      <img src="./images/services_curve_drawing-rotate.png" alt="curve drawing" class="c-services__curve-drawing--horizontal">
    </div>

    <!--      service      -->
    <div class="c-services__service">
      <p class="c-services__suptitle">Amazing Services</p>
      <h2 class="c-services__title">We provide smart and effective <span class="c-services__title--red">solutions</span></h2>
      <p class="c-services__text">
        Nibh vel magna lacinia ultrices. Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna,condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tate, tortor nec commodo ultricies, vitae viverra urna .
      </p>
    </div>

  </div>
</section>