<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="l-common">

<!--    header    -->
        <header class="header">
            <div class="header__wrapper">

                <!--        logo        -->
                <div class="header__logo">
                    <img src="./src/images/logo.png" alt="fichi" class="logo">
                </div>

<!--        navigation        -->
                <nav class="header__navigation">
                    <ul class="list">
                        <li class="item"><a href="#">Home</a></li>
                        <li class="item"><a href="#">About</a></li>
                        <li class="item"><a href="#">Work</a></li>
                        <li class="item"><a href="#">Contact</a></li>
                    </ul>
                </nav>

<!--        button        -->
                a.btn
            </div>
        </header>
    </div>
</body>
</html>